body {
    background-color: #F8F9FA;
    font-family: 'Tajawal', sans-serif;
}

form {
    background-color: #ffffff;
}

.form-box {
    width: 70%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 5%;
}

label.required::after {
    content: "*";
    color: red;
    margin-right: 10px;
}

.form-heading:after {
    margin-top: 30px;
    content: "";
    display: block;
    width: 200px;
    height: 0.1rem;
    background: rgb(189, 183, 183);
    right: 0;
}
#submit-button {
    background-color: #55B073;
}
